@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
h1{
    color: hsl(229, 6%, 66%);
    text-align: center;
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: 50px;
}
h2{
    color: hsl(234, 12%, 34%);
    text-align: center;
    padding-left: 10px;
    font-size: 2.5rem;
}
.description {
    width: 34%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin-bottom: 50px;
    margin-top: 25px;
}
.row{
     display: grid;
     grid-template-columns: repeat(3, auto);
     gap: 35px;
     justify-items: center;
     align-items: center;
   }
.two-card{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.card {
  width: 350px;
  height: 240px;
  box-shadow: 0 0 14px #00000015;
  padding: 1em 2em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  color: white;
  margin-bottom: 10px;
}
.card h2{
    display: block;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 10px;
}
.card p{
    text-align: left;
    color: hsl(229, 6%, 66%);
    padding-left: 10px;
    font-size: 0.8rem;
    opacity: 60%;

}
.card img{
    margin-left: 220px;
    margin-top: 50px;
}
.supervisor {
    grid-column: 1;
    border-top: solid 5px hsl(180, 62%, 55%);
}
.team-builder {
    border-top: solid 5px hsl(0, 78%, 62%);
}
.karma {
    border-top: solid 5px hsl(34, 97%, 64%);
}
.calculator {
    grid-column: 3;
    border-top: solid 5px hsl(212, 86%, 64%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 1rem;
    }
    .description{
        width: 70%;
    }
    .row{
        display: flex;
        flex-direction: column;
        gap: 35px;
        justify-items: center;
        align-items: center;
}
}